.box1,.box2,.box3{
    /* margin: auto; */
    text-align: center;
    border: 3px dashed black;
    background-color: skyblue;
    width:150px;
    height: 150px;
    font-size: 30px;
}
.box2{
    background-color: pink;
}
.box3{
    background-color: palegreen;
}
.splice{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}